
#stacks_in_2_page2 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_2_page2 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_2_page2 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_3_page2 {
	margin:  2px;
	padding:  5px;
}
