#stacks_in_52_page0_float {
	float:left;
	width:40%;
}
#stacks_out_52_page0 {
	margin-left:0;
}

#stacks_in_53_page0 {
	font-size: 90%;
}

#stacks_in_55_page0 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  7px;
	padding:  8px;
}

#stacks_in_60_page0 {
	font-size: 110%;
}
#stacks_in_37_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_37_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_37_page0>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_37_page0>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_37_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_37_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_70_page0 {
	-moz-border-radius:  8px;
	-webkit-border-radius:  8px;
	border-radius:  8px;
}
#stacks_in_65_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_65_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_65_page0>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_65_page0>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_65_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_65_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
